.exchange-rate-list-container {
  max-height: calc(
    100vh - 200px
  ); /* Ajusta el valor "200px" según sea necesario */
  overflow-y: auto; /* Agrega un scroll vertical si el contenido excede la altura */
}

.exchange-rate-list-container::-webkit-scrollbar {
  width: 15px; /* Ancho de la barra de desplazamiento */
}

.exchange-rate-list-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista de la barra de desplazamiento */
}

.exchange-rate-list-container::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Radio de borde del pulgar de la barra de desplazamiento */
}

.exchange-rate-list-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar de la barra de desplazamiento en estado de hover */
}
